<div class = "col-md-6">
	<%= simple_form_for @shipment do |f| %>

		<%= f.input :date, class: 'form-control' %> <br>

		<%= f.input :day, class: 'form-control' %> <br>

		<%= f.input :seal, class: 'form-control' %> <br>

		<%= f.input :trucker, class: 'form-control' %> <br>

		<%= f.input :truckernumber, class: 'form-control', :label => "Driver + Phone Number" %> <br>

		<%= f.input :totalcases, class: 'form-control', :label => "Total Cases" %> <br>

		<%= f.input :totalweight, class: 'form-control', :label => "Total Weight" %> <br>

		<%= f.input :deliverydate, class: 'form-control', :label => "Delivery Date" %> <br>

		<h3>skids</h3>
		<div id ="skids">
			<%= link_to_add_association 'Add Skid', f, :skids %>

			<%= f.simple_fields_for :skids do |skid| %>
				<%= render "skid_fields", :f => skid %>
			<% end %>
		</div>


		<%= f.button :submit %><br>


	<% end %>
</div>