<%= simple_form_for @shipment do |f| %>

	<%= f.input :date %> <br>

	<%= f.input :day %> <br>

	<%= f.input :seal %> <br>

	<%= f.input :trucker %> <br>

	<%= f.input :truckernumber %> <br>

	<%= f.input :totalcases %> <br>

	<%= f.input :totalweight %> <br>

	<%= f.input :deliverydate %> <br>

	<h3>skids</h3>
	<div id ="skids">
		<%= link_to_add_association 'Add Skid', f, :skids %>

		<%= f.simple_fields_for :skids do |skid| %>
			<%= render "skid_fields", :f => skid %>
		<% end %>
	</div>


	<%= f.submit %><br>


<% end %>