<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="col-md-6">
            <h2><%= @shipment.date %> - <%= @shipment.trucker %></h2>

            <div id="window">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Trucker</th>
                    <th>Driver + Number</th>
                    <th>Seal # </th>
                    <th>ETD</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @shipment.trucker %></td>
                    <td><%= @shipment.truckernumber %></td>
                    <td><%= @shipment.seal %></td>
                    <td><%= @shipment.deliverydate %></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="window">
                <h2>Skids</h2>

                <table class="table table-striped">
                    <thread>
                        <th>Skid #</th>
                        <th>PO #</th>
                        <th>Cases</th>
                        <th>Weight</th>
                    </thread>
                    <tbody>
                        <% @skids.each do |skid| %>
                            <tr>
                                <th> <%= @skid.number %> </th>
                                <th> <%= @skid.po %> </th>
                                <th> <%= @skid.cases %> </th>
                                <th> <%= @skid.weight %> </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>

